/*Navigation Menu*/


.menu{
position:absolute;
height:60px;
background-color:white;
border-style:solid;
border-width:4px;
border-color:gray;
left:0px;
width:98%;
  }
  
 .menu1{
 padding:18px;
 margin-left:150px;
 margin-right:120px;
 float:left;
  } 
  
 .menu2{
 padding:18px;
  }