body {
background-color:#D2CCFF;
width:97%;
height:650px;
  }

.header{
position:absolute;
left:0px;
width:97.5%;
height:60px;
background-color:#D3D3D3;
padding:17px;
 }

.searchmenu{
padding-left:10px;
position:absolute;
left:0px;
background-color:gray;
text-align:left;
margin-left:20px;
height:49px;
max-width:950px;
width:98%;
} 
 
#searchInput{
background-color:white;
width:300px;
height:35px;
} 

.searchSelect{
padding-left:10px;
margin-left:1px;
height:36px;
width:200px;
 }

#PosctcodeInput{
padding-left:10px;
margin-left:20px;
width:100px;
height:35px;
 }
 
.afstand{
padding-left:10px;
margin-left:0px;
width:200px;;
height:35px;
 }

#btnZoek{
height:35px;
width:100px; 
 }