#usern{
text-align:center;
color:#B68E2F;
font-size:40px;
font-weight:bold;
position:relative;
left:15px;
top:-85px;
width:400px;
z-index:1;
 }
 
#ads{
position:relative;
left:-1px;
padding:10px;
color:#434DFF;
background-color:#FCFFD9;
width:200px;
float:left;

margin-left:20px;
border-style:solid;
border-width:4px;
border-color:gray;
  }
  
  
  
  
    /* BLOG FORM*/
form.blog{
          position:relative;
          left:80px;
          top:-50px;
          background-repeat:no-repeat;
          background-color:white;
          background-size:cover;
          background-position:center;
          border-style:solid;
          border-radius:20%;
          border-color:gray;
          border-width:8px;
          opacity:0.9;
          margin:10%;
          width:65%;
          height:430px;
          font-family:fantasy;
          color:#070012;
          }
          
table.table{
            position:relative;
            left:45px;
            top:0px;
            width:450px;
            }              
          
          
#submit{
        position:relative;
        left:145px;
        top:-5px;
        width:87px;
        }        
      
#file{
      position:relative;
      left:145px;
      top:1px;
      width:150px;
      }
      
      